body.dark, body.dark .modal {
  background: #141414;
  color: #999;
}

body.dark strong.label {
  color: #141414;
}

body.dark .modal-footer {
  background: #141414;
}

body.dark .modal button.close {
  background: #999;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  padding-bottom: 2px;
}
